.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  position: relative;
  min-height: 64px; /* adjust as needed for your navbar height */

}

.langbar {
    position: absolute;
    align-items: center;
    z-index: 2;
    top: 1rem;
    left: 3rem;
}

.navbar {
  position: absolute;
  left: 50%;
  top: 1rem;
  transform: translate(-50%, 0);
  display: flex;
//   justify-content: center;
//   align-items: center;
//   z-index: 1;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
}
