@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@layer base {
  :root {
    --color-primary: #25726d;
    --color-primary-background: #143237; /* Wolf-Teel */
    --color-primary-light: #5bbca1;
    --color-dark: #111a22; /* Dark-Blue */
    --color-white: #eff2f1;
    --color-black: #060707;
    --color-grey-dark: #2c3130;
  }

  .title{
    color: var(--color-black);
    margin-bottom: 4rem;
  }

  .text{
    color: var(--color-white)
  }
  .text2{
    color: var(--color-dark)
  }



  body{
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  .wolf{
    width: 300px;
    height: 300px;
    margin-bottom: 2rem;
  }
}

