<div class="container flex flex-col items-center justify-center">
    <main class="content flex flex-col items-center justify-center ">
        <img src="assets/VortexWolf.png" alt="wolf" class="wolf" />
        <h1 class="title">{{translations.home?.title}}</h1>
        <p class="text">{{translations.home?.description}}</p>
        
        <section class="projects">
            <h2 class="text2 font-bold">{{translations.home?.projects?.description}}</h2>
            <div class="project-grid">
                <a href="/buckit" class="project-card">
                    <h2>Buckit</h2>
                </a>
                <!-- Add more project cards here -->
            </div>
        </section>
    </main>

    <footer class="flex flex-col">
        <p style="padding-bottom: 1rem; padding-top: 1rem;">{{translations.footer?.description}}</p>
        <p>{{translations.footer?.software}}</p>
    </footer>
</div>
