<nav class="pixel-navbar">
  <ul>
    <li><a routerLink="/" routerLinkActive="active"><span class="nav-icon"><img src="assets/icons/home.png" alt="home"></span>{{ translations.navbar?.home }}</a></li>
    <li><a routerLink="/about" routerLinkActive="active"><span class="nav-icon"><img src="assets/icons/account_circle.png" alt="about"></span>{{ translations.navbar?.about }}</a></li>
    <li><a routerLink="/projects" routerLinkActive="active"><span class="nav-icon"><img src="assets/icons/code.png" alt="projects"></span>{{ translations.navbar?.projects }}</a></li>
    <li><a routerLink="/blogs" routerLinkActive="active"><span class="nav-icon"><img src="assets/icons/blog.png" alt="blogs"></span>{{ translations.navbar?.blogs }}</a></li>
  </ul>
</nav> 