<nav class="pixel-navbar">
  <ul>
    <li><a routerLink="/" routerLinkActive="active"><span class="nav-icon"><img src="assets/icons/home.png" alt="home"></span><span class="nav-text">{{ translations.navbar?.home }}</span></a></li>
    <li><a routerLink="/about" routerLinkActive="active"><span class="nav-icon"><img src="assets/icons/account_circle.png" alt="about"></span><span class="nav-text">{{ translations.navbar?.about }}</span></a></li>
    <li><a routerLink="/projects" routerLinkActive="active"><span class="nav-icon"><img src="assets/icons/code.png" alt="projects"></span><span class="nav-text"></span><span class="nav-text">{{ translations.navbar?.projects }}</span></a></li>
    <li><a routerLink="/blogs" routerLinkActive="active"><span class="nav-icon"><img src="assets/icons/blog.png" alt="blogs"></span><span class="nav-text">{{ translations.navbar?.blogs }}</span></a></li>
  </ul>
</nav> 